---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Home"
  description="Full-stack design engineer building scalable, user-centered software."
  mainClass="flex-1"
>
  <section class="border-border-subtle border-b px-6">
    <div
      class="mx-auto flex max-w-screen-2xl flex-col items-center justify-center gap-16 py-64 text-center"
    >
      <h1
        class="font-display text-foreground-primary max-w-5xl text-9xl leading-[128px] tracking-[-0.5px]"
      >
        <span class="block">Full-Stack</span>
        <span class="block">Design Engineer</span>
      </h1>
      <p class="text-foreground-secondary max-w-2xl text-2xl leading-8">
        Building scalable, user-centered software
      </p>
    </div>
  </section>
</BaseLayout>
