---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description?: string;
	mainClass?: string;
}

const {
	title,
	description,
	mainClass = 'mx-auto w-full max-w-3xl flex-1 px-6 py-12',
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Inter+Display:opsz,wght@14..32,100..900&display=swap"
			rel="stylesheet"
		/>
		{description && <meta name="description" content={description} />}
		<title>{title}</title>
	</head>
	<body class="flex min-h-screen flex-col">
		<Header />
		<main class={mainClass}>
			<slot />
		</main>
		<Footer />
	</body>
</html>
